extends layout

block content
  .content
    #pad-wrapper
        //orders table 
        .table-wrapper.orders-table.section
          .row.head
            .col-md-12
              h4 Inbox
          .row.filter-block
          .row
            table.table.table-hover
              thead
                tr
                  th.col-md-2
                    span.line
                    | Date
                  th.col-md-3
                    span.line
                    | From
                  th.col-md-6
                    span.line
                    | Description
                  th.col-md-2
                    span.line
                    | Status
              tbody
                //row 
                tr
                  td
                    | Feb 02, 2014
                  td
                    a(href=messages[0].from) 
                      = messages[0].from
                  td
                    = messages[0].body
                  td
                    span.label.label-info Direct Message
                //row 
                tr.first.active(onclick='location.href="/quoteReceived"')
                  td
                    | Jan 03, 2013
                  td
                    a(href='#') Dr. John Smith
                  td Regarding your request for Vasectomy
                  td
                    span.label.label-success Submitted to Insurance
                tr
                  td
                    | Dec 15, 2012
                  td
                    a(href='#') Dr. John Smith
                  td Summary of visit
                  td
                    span.label.label-info Acknowledged
                tr
                  td
                    | Oct 03, 2012
                  td
                    a(href='#') Quest Diagnostics
                  td Lab Reports - Blood Work
                  td
                    span.label.label-info Acknowledged
                tr
                  td
                    | Sep 15, 2012
                  td
                    a(href='#') Dr. George Williams
                  td A request for blood work
                  td
                    span.label.label-success Completed
        //end orders table 
    //end main container 
  script(src='http://code.jquery.com/jquery-latest.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/theme.js')