/* Put your CSS here */
/* TOOD: At some point move to sass or less */

.ember-application {
    margin: 20px;
}

h1 {
	font-size: 2em;
	margin-bottom: 1em;
}

h2 {
	margin-bottom: 1em;
}

h4 {
	font-size: 1.5em;
	margin-bottom: 1em;
	font-weight: bold;
}

.loading {
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;

	width: 100px;
	height: 50px;

	color: white;
	background-color: rgba(0,0,0,0.5);

	margin-left: -50px;
	margin-top: -25px;

	/*@include border-radius(10px);*/
	text-align: center;
	line-height: 50px;
}

aside {
	float: left;
	background-color: #f7f7f7;
	width: 220px;
	height: 640px;
	border: 1px solid #ccc;
}

aside ul {
	list-style-type: none;
}

aside ul li {
	padding-bottom: 10px;
}

aside h2 {
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-shadow: 1px 1px 0px #eee;
	padding: 15px;
	margin-bottom: 0;
}

aside a {
color: #333;
text-decoration: none;
display: block;
padding: 15px;
}

aside a.active {
	background-color: #eee;
}

aside a:hover {
	background-color: #eee;
	border-bottom: 0;
}

span.count {
	float: right;
	color: #505f71;
	padding: 0.2em 0.2em;
	/*@include border-radius(40%);*/
	font-size: 1.1em;
	position: relative;
	top: -3px;
}

section.main {
	height: 640px;
	border-bottom: 1px solid #ccc;
	margin-left: 220px;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.index {
	padding-top: 5em;
	text-align: center;
	height: 100%;
}

table {
	width: 100%;
	display: block;
	table-layout: fixed;
	border-bottom: 1px solid #999;
	border-collapse: collapse;
}

td, th {
	width: 25%;
	padding: 0.5em;
}

th {
	font-weight: bold;
	font-size: 0.8em;
}

tr {
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

td a {
	text-decoration: none;
	color: #333;
}

tr.active {
	@include background(linear-gradient(top, #7db9e8, #267dc9));
	background-color: #7db9e8;
	color: white;
	text-shadow: 1px 1px 0px #666;
}

.mailbox-index {
	padding-top: 5em;
	text-align: center;
	color: #eee;
	font-style: italic;
}

.mail {
	padding: 1em;
}

dl {
	width: 100%;
	border-bottom: 1px solid #333;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
}

dt {
	font-weight: bold;
	font-size: 0.8em;
	width: 60px;
}

dd {
	margin-bottom: 0.5em;
}

.url {
	font-family: sans-serif;
	padding: 0 0 1em 0.4em;
	width: 100%;
	height: 12px;
	font-family: 'Maven Pro';
	font-weight: bold;
	text-transform: lowercase;
}

.title {
	font-family: sans-serif;
	padding: 0 0 0.2em 0.4em;
	width: 100%;
	height: 2em;
	font-family: 'Maven Pro';
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
}
