extends layout

block content
  div.modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    div.modal-dialog.modal-lg
      form.form-horizontal(action='/message',method='post')
        div.modal-content
          div.modal-header
            button.close(data-dismiss="modal") 
              span &times;
            h4.modal-title#myModalLable Compose E-Mail
          div.modal-body
              div.form-group
                label.col-md-2.control-label(for="toEmail") To
                div.col-md-8
                  input.input-md.form-control#textinput(name="toEmail" type="text" placeholder="e-mail address")
                  span.help-block To Direct address
              div.form-group
                label.col-md-2.control-label(for="messageBody") Body
                div.col-md-8
                  textarea.form-control#textarea(name="messageBody")                
          div.modal-footer
              button.btn.btn-default(data-dismiss="modal") Cancel
              input.btn.btn-primary(type='submit',value='Send Message',data-transition='fade')
          

  .content
    #pad-wrapper
        if alert
          .alert.alert-success
            !=alert
        //orders table 
        .table-wrapper.orders-table.section
          .row.head
            .col-md-12
              h4 Inbox
              button.btn.btn-primary.btn-md(data-toggle="modal" data-target="#myModal") Compose

          .row.filter-block
          .row
            table.table.table-hover
              thead
                tr
                  th.col-md-2
                    span.line
                    | Date
                  th.col-md-3
                    span.line
                    | From
                  th.col-md-6
                    span.line
                    | Description
                  th.col-md-2
                    span.line
                    | Status
              tbody
                //row
                tr.first.active(onclick='location.href="/quoteReceived"')
                  td
                    | Jan 03, 2013
                  td
                    a(href='#') Dr. John Smith
                  td Regarding your request for Vasectomy
                  td
                    span.label.label-success Submitted to Insurance
                tr
                  td
                    | Dec 15, 2012
                  td
                    a(href='#') Dr. John Smith
                  td Summary of visit
                  td
                    span.label.label-info Acknowledged
                tr
                  td
                    | Oct 03, 2012
                  td
                    a(href='#') Quest Diagnostics
                  td Lab Reports - Blood Work
                  td
                    span.label.label-info Acknowledged
                tr
                  td
                    | Sep 15, 2012
                  td
                    a(href='#') Dr. George Williams
                  td A request for blood work
                  td
                    span.label.label-success Completed
                //row
              each message, i in messages 
                tr
                  td
                    | Feb 02, 2014
                  td
                    a(href=message.from) 
                      = message.from
                  td
                    = message.body
                  td
                    span.label.label-info Direct Message
                
        //end orders table 
    //end main container 
  script(src='http://code.jquery.com/jquery-latest.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/theme.js')
