extends layout
block header
  link(href='/css/compiled/bootstrap-wysihtml5-0.0.2.css', rel='stylesheet')

block content
  div.modal#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    div.modal-dialog.modal-lg(style="width:75%")
      form.form-horizontal(action='/message',method='post')
        div.modal-content
          div.modal-header
            button.close(data-dismiss="modal") 
              span &times;
            h4.modal-title#myModalLable Compose E-Mail
          div.modal-body
              div.form-group
                label.col-md-1.control-label(for="toEmail") To
                div.col-md-8
                  input.input-md.form-control#textinput(name="toEmail" type="email" placeholder="e-mail address")
                  span.help-block To Direct address
              div.form-group
                label.col-md-1.control-label(for="messageBody") Body
                div.col-md-11
                  textarea.form-control#textarea(name="messageBody", style="height:275px")                
          div.modal-footer
              button.btn.btn-default(data-dismiss="modal") Cancel
              input.btn.btn-primary(type='submit',value='Send Message',data-transition='fade')
          

  .content
    #pad-wrapper
        if alert
          .alert.alert-success
            !=alert
        //orders table 
        .table-wrapper.orders-table.section
          .row.head
            .col-lg-12
              h4 Inbox
              button.btn.btn-primary.btn-md#myModalButton  Compose

          .row.filter-block
          .row
            table.table.table-hover
              thead
                tr
                  th.col-md-2
                    span.line
                    | Date
                  th.col-md-3
                    span.line
                    | From
                  th.col-md-6
                    span.line
                    | Description
                  th.col-md-2
                    span.line
                    | Status
              tbody
                //row
                tr.first.active(onclick='location.href="/quoteReceived"')
                  td
                    | Jan 03, 2013
                  td
                    a(href='#') Dr. John Smith
                  td Regarding your request for Vasectomy
                  td
                    span.label.label-success Submitted to Insurance
                tr
                  td
                    | Dec 15, 2012
                  td
                    a(href='#') Dr. John Smith
                  td Summary of visit
                  td
                    span.label.label-info Acknowledged
                tr
                  td
                    | Oct 03, 2012
                  td
                    a(href='#') Quest Diagnostics
                  td Lab Reports - Blood Work
                  td
                    span.label.label-info Acknowledged
                tr
                  td
                    | Sep 15, 2012
                  td
                    a(href='#') Dr. George Williams
                  td A request for blood work
                  td
                    span.label.label-success Completed
                //row
              each message, i in messages 
                tr
                  td
                    | Feb 02, 2014
                  td
                    a(href=message.from) 
                      = message.from
                  td
                    = message.body
                  td
                    span.label.label-info Direct Message
                
        //end orders table 
    //end main container 

block footer

  script(src='/js/wysihtml5-0.3.0.js')
  script(src='/js/bootstrap-wysihtml5-0.0.2.min.js')
  script.
    $('#myModalButton').click(function(e){
        //BUGBUG: This needs to support toggle
        $('#myModal').modal();
        console.log("Loading the editor..");
        $('#textarea').wysihtml5({
           "color": false, //Button to change color of font
           "size": 'xs' //Button size like sm, xs etc.
        });
    });

